@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: system-ui,
      density: 0,
    )
  );
}
